@import './assets/webfonts/red-hat-font.css';

:root {
  --light: #F2FAFF;
  --dark: #252326;
  --blue-1: #4bc6e3;
  --blue-2: #1b6b93;
  --blue-3: #045474;
  --orange: #fb5c04;

  --text-colour: var(--dark);
  --background-colour: var(--light);

  --regular-font: 'RedHatDisplay', sans-serif;

  --border: 1px solid var(--text-colour);

  color: var(--text-colour);
  background-color: var(--background-colour);
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  font-family: var(--regular-font);
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-colour);
  color: var(--text-colour);
}

body.light {
  --text-colour: var(--dark);
  --background-colour: var(--light);
}

body.dark {
  --text-colour: var(--light);
  --background-colour: var(--dark);
}

.light a {
  color: var(--blue-2);
  text-decoration: inherit;
}

.dark a {
  color: var(--orange);
  text-decoration: inherit;
}

a:hover {
  color: var(--blue-3);
}

.dark a:hover {
  color: var(--blue-3);
}

input{
  font-family: var(--regular-font);
  background-color: var(--background-colour);
  color: var(--text-colour);
  border: var(--border);
}

.style-btn{
    font-family: var(--regular-font);
    background-color: var(--background-colour);
    color: var(--text-colour);
    border: var(--border);
    cursor: pointer;
    transition: all 200ms;
}

.style-btn:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 0 var(--text-colour);
}

.style-btn:active{
    transform: translateY(0);
    box-shadow: 0 0 0 var(--text-colour);
}

.page-heading{
    font-size: 3rem;
    margin: 1rem;
}

.subheading{
    font-size: 1.5rem;
}

main{
  margin-inline: 1rem;
}

#app {
  width: 100vw;
}

::selection{
  background-color: var(--text-colour);
  color: var(--background-colour);
}

